* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "Work Sans", sans-serif;
  transition: all 0.2s;
}

.promo {
  width: 40%;
  position: absolute;
  margin: 40% 0 0 30%;
  align-self: center;
  align-content: center;
  align-items: center;
  z-index: 999;
}

.globalNav {
  width: 100%;
  padding-left: 5%;
  margin: auto;
  padding-top: 1em;
  overflow: hidden;
  position: fixed;
  background-color: white;
  padding-bottom: 0.5em;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.globalNav .icon {
  width: 2.25%;
  height: auto;
  margin-right: 1em;
}

.globalNav a {
  color: black;
  font-variant: small-caps;
}

.globalNav a.typoLogo {
  font-weight: 900;
  font-size: 30;
}

.globalNav a.menuOptions:hover {
  color: #ff4746;
}

.globalNav a.menuOptions {
  font-weight: 700;
  font-size: 21;
  margin-right: 2em;
  transition: 1s;
  align-items: center;
}

.container .welcome {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
}

.container .welcome .leftImgs {
  width: 30%;
  height: auto;
  margin-top: 8em;
  margin-bottom: 6.5em;
  float: left;
}

.container .welcome .leftImgs img {
  width: 100%;
}

.container .welcome .seasonQuote {
  margin: 10em auto 0 10%;
  z-index: 5;
}

.container .welcome .seasonQuote h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 40;
  font-weight: 900;
}

.container .welcome .seasonQuote h1.second {
  margin-left: 1em;
}

.container .welcome .seasonQuote h1.third {
  margin-left: 6em;
}

.container .welcome .rightImgs {
  float: right;
  width: 37%;
  height: auto;
  margin-top: -4em;
  margin-right: 120px;
  z-index: 100;
}

.container .welcome .rightImgs img {
  width: 100%;
}

.container .bottomNav {
  position: absolute;
  padding-left: 5%;
  margin-top: -2em;
}

.container .bottomNav a {
  color: black;
  font-variant: small-caps;
}

.container .bottomNav a.bottommenuOptions {
  font-weight: 700;
  font-size: 21;
  margin-right: 2em;
  transition: 1s;
  align-items: center;
}

.container .bottomNav a.bottommenuOptions:hover {
  color: #ff4746;
}

.container .theTeam {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.container .theTeam .teamPhoto {
  background-color: #ff4746;
  height: 400px;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.container .theTeam .teamPhoto .weAre {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.container .theTeam .teamPhoto .weAre h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 30;
  font-weight: 900;
  color: white;
}

.container .theTeam .teamPhoto .weAre h1.second {
  margin-left: 1em;
}

.container .theTeam .teamPhoto .teamImgDiv {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  width: 60%;
}

.container .theTeam .teamPhoto .teamImgDiv img {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin: auto;
  width: 100%;
}

.container .theTeam .descriptionTeam {
  width: 50%;
  padding: 5em 0 0 2em;
}

.container .theTeam .descriptionTeam h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 30;
  font-weight: 900;
  margin-bottom: 1em;
  color: black;
}

.container .theTeam .descriptionTeam .description {
  width: 60%;
}

.container .theTeam .descriptionTeam .description p {
  font-family: "Work Sans", sans-serif;
  font-weight: 200;
  font-size: 16;
  margin-bottom: 1em;
}

.container .theTeam .descriptionTeam .description p:last-child {
  margin-bottom: 3em;
}

.container .theTeam .descriptionTeam .rect {
  width: 50px;
  height: 10px;
  background-color: #ff4746;
}

.container .titleSectionServ {
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  margin-top: 3em;
}

.container .titleSectionServ h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 30;
  font-weight: 900;
  color: black;
}

.container .services {
  width: 80%;
  margin: auto;
  height: 600px;
}

.container .services .servDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-around;
  align-items: flex-start;
}

.container .services .servDiv .service {
  width: 30%;
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.container .services .servDiv .service h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 22;
  font-weight: 800;
  font-variant: small-caps;
  color: black;
}

.container .services .servDiv .service .rect {
  width: 100px;
  height: 10px;
  background-color: #ff4746;
}

.container .services .servDiv .service .frontFace {
  width: 20%;
  margin-top: 3em;
  position: absolute;
  transform: perspective(0) rotateY(0deg);
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
}

.container .services .servDiv .service .frontFace img {
  width: 100%;
}

.container .services .servDiv .service .frontFace:hover {
  transform: perspective(0) rotateY(-180deg);
}

.container .services .servDiv .service .backFace {
  position: absolute;
  transform: perspective(0) rotateY(180deg);
  backface-visibility: hidden;
  transition: transform .5s linear 0s;
  background-color: #ff4746;
}

.container .services .servDiv .service .backFace h2 {
  font-family: "Work Sans", sans-serif;
  font-size: 22;
  font-weight: 800;
  font-variant: small-caps;
  color: black;
}

.container .services .servDiv .service .backFace p {
  font-family: "Work Sans", sans-serif;
  color: white;
}

.container .services .servDiv .service .backFace:hover {
  transform: perspective(0) rotateY(0deg);
}

.container .bestsellersGallery {
  width: 100%;
  background-color: #2bb8c0;
}

.container .bestsellersGallery h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 30;
  font-weight: 900;
  color: white;
  padding: 1em;
  float: right;
}

.container .bestsellersGallery .gallery {
  width: 100%;
  height: auto;
}

.container .bestsellersGallery .gallery img {
  width: 100%;
  height: auto;
}

.container .bestsellersGallery .gallery .btnControl {
  display: block;
  position: absolute;
  margin-top: -30%;
  width: 100%;
}

.container .bestsellersGallery .gallery .btnControl .btn {
  padding: 1em;
  color: white;
  background-color: #2bb8c0;
  border: none;
}

.container .bestsellersGallery .gallery .btnControl .btn.btndisplayRight {
  float: right;
}

.container .specifications {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.container .specifications .spechItem {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
}

.container .specifications h1 {
  font-family: "Work Sans", sans-serif;
  font-size: 30;
  font-weight: 900;
  color: black;
}

.container .specifications .stuffDetails {
  width: 50%;
  padding: 8em 2em 2em 10em;
}

.container .specifications .stuffDetails h1 {
  margin-bottom: 1em;
}

.container .specifications .stuffDetails p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16;
  margin-bottom: 1em;
}

.container .specifications .product {
  width: 50%;
  height: 500px;
  background-color: #fbeb00;
  display: flex;
  justify-content: center;
}

.container .specifications .product img {
  height: 100%;
}

.container .footer {
  width: 100%;
}

.container .footer .artist {
  width: 12%;
  border-radius: 50%;
  position: absolute;
  margin-left: 2%;
  margin-top: -480px;
}

.container .footer .realFooter {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  margin-top: 100px;
}

.container .footer .realFooter .aboutlinks {
  width: 65%;
  height: 400px;
  background-color: #f3a5b2;
  animation: loading 2s linear;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-end;
}

.container .footer .realFooter .aboutlinks .links {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  margin-top: 30%;
  padding-right: 10%;
}

.container .footer .realFooter .aboutlinks .links h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  color: white;
}

.container .footer .realFooter .aboutlinks .links .ul {
  list-style: none;
  color: white;
}

.container .footer .realFooter .aboutlinks .links .ul li:last-child {
  margin-bottom: 1em;
}

.container .footer .realFooter .aboutlinks .links .ul.social.about {
  display: inline-block;
}

.container .footer .realFooter .aboutlinks .iconFooter {
  order: 0;
  flex: 0 1 auto;
  align-self: auto;
  padding-right: 10.5%;
}

.container .footer .realFooter .aboutlinks .iconFooter img {
  width: 60%;
}

.container .footer .realFooter .newsletter {
  width: 35%;
  display: block;
  position: absolute;
  margin-left: 70%;
}

.container .footer .realFooter .newsletter p {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 21;
  margin-bottom: 0.7em;
}

.container .footer .realFooter .newsletter input {
  display: block;
  padding: 5px 2px 1px 2px;
  border: none;
  border-bottom: 2px solid black;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16;
  margin-bottom: 1em;
}

.container .footer .realFooter .newsletter button {
  padding: 7px 15px 7px 10px;
  border: none;
  background-color: black;
  color: white;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 16;
  transition: all 0.2s;
}

.container .footer .realFooter .newsletter button:hover {
  background-color: #ff4746;
}

@keyframes loading {
  0% {
    width: 0;
  }
  100% {
    width: 65%;
  }
}

@media (min-width: 800px) and (max-width: 1100px) {
  .theTeam {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    height: auto;
  }
  .theTeam .teamPhoto {
    -ms-flex: 50%;
    flex: 0 50% auto;
    width: 80%;
  }
  .theTeam .descriptionTeam {
    -ms-flex: 50%;
    flex: 0 50% auto;
    width: 80%;
  }
  .servDiv {
    flex-direction: column;
  }
  .specifications {
    flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */